contourpy==1.3.3
cplex==22.1.2.1
cycler==0.12.1
docplex==2.32.259
fonttools==4.62.1
hashable-list==0.2.0
kiwisolver==1.5.0
matplotlib==3.10.8
Mosek==11.1.10
numpy==2.4.3
ordered-set==4.1.0
packaging==26.0
pglast==7.5
pillow==12.1.1
psycopg2-binary==2.9.11
pyparsing==3.3.2
python-dateutil==2.9.0.post0
setuptools==82.0.1
six==1.17.0
streamlit==1.57.0